services:
  db:
    container_name: db
    image: postgres:15-alpine
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - .env
    environment:
      - PGDATA=/var/lib/postgresql/data/pgdata
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD?Variable not set}
      - POSTGRES_USER=${POSTGRES_USER?Variable not set}
      - POSTGRES_DB=${POSTGRES_DB?Variable not set}
    ports:
      - "5432:5432"
  backend:
      image: cyberpich2077/ncity:0.3
      restart: always
      ports:
        - "8000:8000"
      depends_on:
        - db
      env_file:
      - .env

  frontend:
    build: ./frontend
    restart: always
    ports:
      - "3000:80"

volumes:
  postgres_data:
